@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Quando a classe .dark for ativa */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}

body {
  top: 0px !important;
}

.goog-te-banner-frame,
.goog-te-gadget,
iframe {
  display: none !important;
}

/* Animação para os sinônimos */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Começa 20px abaixo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}